.case {
    display: block;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 
        1px 4px 6px 0px #00000029,
        0px 4px 4px 0px #0000000F,
        0px 1px 1px 0px #0000001F;
    }
}


.case__thumb {
    position: relative;
    overflow: hidden;
}

.case__guide {
    position: absolute;
    top: 0;
    left: 0;

    padding: 63px 24px;

    color: $primary-white-color;
    font-size: 18px;
    line-height: 1.5556;

    background-color: $accent-color;
    opacity: 0;
    pointer-events: none;

    transform: translateY(100%);

    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .case:hover &,
    .case:focus & {
        opacity: 0.9;
        transform: translateY(0);
    }
}


.case__content {
    padding: 20px 24px;

    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
}

.case__title {
    margin-bottom: 4px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.case__description {
    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.88;
}