.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 12px;
}

.checkbox__input {
    display: block;
}


.checkbox__icon {
    position: absolute;
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 15px;
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox__input:checked + & {
        opacity: 0;
    }
}

.checkbox__icon-done {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(-5px);
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 15px;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox__input:checked ~ & {
        opacity: 1;
    }
}


.checkbox__label {
    line-height: 1.7143;
    padding-left: 25px;
}

.checkbox__contract {
    line-height: 1.7143;
    color: $accent-color;
    text-decoration: underline;
}

