.cta {
    display: inline-block;
    margin-bottom: 20px;
    // margin-right: auto;
    // margin-left: auto;

    color: $primary-white-color;
    line-height: 1.1721;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}