.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $dark-background;

    &__container {

        @include for-tablet-up {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__follow {
        flex-basis: 50%;
        // margin-left: 70px;
    }
}

