.logo {

    padding-top: 16px;
    padding-bottom: 16px;
    color: $title-text-color;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;

    &__prefix {
        color: $accent-color;
    }
    
    &__footer {
        color: $primary-white-color;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @include for-tablet-up {
        padding: 0;
    }

}
