.menu {
  display: flex;
  align-items: center;
}

.menu__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  // width: 100%;
  // height: 100%;
  padding: 48px 40px;

  background-color: $primary-white-color;

  @include for-phone-only {
    display: none;

    position: fixed;
    width: 100%;
    z-index: 40;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  &.is-open {
    display: block;
  }

  @include for-tablet-up {
    padding: 0;
    margin-left: 63px;
  }

  @include for-desktop-up {
    margin-left: 93px;
  }
 
}

.menu__button {
  position: absolute;
  z-index: 60;
  top: 10px;
  right: 15px;


  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include for-tablet-up {
    display: none;
  }
}

.menu__icon-cross {
  display: none;
}
.menu__button.is-open .menu__icon-menu {
  display: none;
}

.menu__button.is-open .menu__icon-cross {
  display: block;
}

.menu__navigation {
  
  @include for-tablet-up {
    display: flex;
  }
  // @include for-desktop-up {
  //   margin-block-end: auto;
  // }
}

.menu__item:not(:last-child) {

  @include for-phone-only {
    margin-bottom: 32px;
  }
}

.menu__link {
  position: relative;
  display: block;

  padding: 0;

  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $title-text-color;
  white-space: nowrap;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    }

  @include for-tablet-up {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1429;
    padding: 32px 25px;
  }
}
.menu__link--current {
  color: $accent-color;

  @include for-tablet-up {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translate(-50%);

      width: 47px;
      height: 4px;

      background-image: url(../images/hover.svg);
    }
  }
}
.menu__address {
  @include for-phone-only {
   margin-top: 302px;
  }

  @include for-tablet-up {
    display: flex;
    flex-direction: column-reverse;

    // margin-left: 59px;

  }
  @include for-desktop-up {
    flex-direction: row-reverse;
    align-items: center;

    // margin-left: 280px;
  
  }
}


.menu__address-item:not(:first-child) {
  @include for-phone-only {  
   margin-top: 32px;
  }

  @include for-tablet-only {
    margin-bottom: 10px;
  }
  @include for-desktop-up {
    margin-right: 30px;
  }
}
.menu__address-link {
  padding: 0;
  font-size: 24px;
  line-height: 1.1667;
  color: $primary-text-color;

  @include for-tablet-up {
    display: flex;
    align-items: center;

    font-size: 12px;
  }
  @include for-desktop-up {
    font-size: 14px;
  }
 
 

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--number {
    font-size: 34px;
    line-height: 1.1765;
    color: $accent-color;

    @include for-tablet-up {
      font-size: 12px;
      color: $primary-text-color;
    }
  }
}
.menu__icon-address {
  display: none;

  margin-right: 8px;
  width: 14px;
  height: 14px;
  fill: currentColor;

  @include for-tablet-up {
    display: inline-block;
  }
  @include for-desktop-up {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.menu__mini-socials {
  display: flex;
  padding: 0;
  margin-top: 64px;
  margin-left: -10px;

  @include for-tablet-up {
    display: none;
  }
}
.menu__mini-link {
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  color: $accent-color;
}

.menu__mini-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}




