.title {
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    &--subtitle {
        margin-bottom: 10px;
        
        color: $title-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1429;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}

